*{
    margin: 0px;
    padding: 0px;
}


header > img {
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
}

/* Estilizar o botão de sair */
.sair-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.sair-btn:hover {
    background-color: #c82333;
}


div.container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}
.card{
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 0px 5px black;
}
.card img{

    border-radius: 50%;
    width: 200px;
    height: auto;
    max-width: 100%;
}


/* Modal oculto por padrão */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

/* Conteúdo do Modal */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

/* Botões do Modal */
.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-buttons button {
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.confirmar {
    background-color: #28a745;
    color: white;
}

.confirmar:hover {
    background-color: #218838;
}

.cancelar {
    background-color: #dc3545;
    color: white;
}

.cancelar:hover {
    background-color: #c82333;
}

/* Barra de Sucesso */
.barra-sucesso {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}
